/* Initial styles in case we're viewing the page without JS */
#ab2b > path {
  stroke: red;
}

#ab2b > polygon {
  stroke: red;
  fill: red;
}

button {
  visibility: hidden;
  padding: 1%;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  margin-top: 0.75em;
}

button, [type="button"] {
  -webkit-appearance: button;
}

button + button {
  margin-left: 10%;
}
